In [1]:
import pandas as pd
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_excel('R2_Adam.xlsx')

In [3]:
df['ones'] = 1

In [4]:
df

   id   X   Y  ones
0   1  22  45     1
1   2  19  42     1
2   3  11  23     1
3   4   7  23     1
4   5  13  23     1
5   6  20  39     1
6   7   8  19     1
7   8  12  21     1
8   9  15  28     1
9  10  23  65     1

In [6]:
y = df['Y']
x = df[['X','ones']]

In [7]:
model = sm.OLS(y, x).fit()

In [8]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      Y   R-squared:                       0.801
Model:                            OLS   Adj. R-squared:                  0.776
Method:                 Least Squares   F-statistic:                     32.26
Date:                Thu, 14 Dec 2023   Prob (F-statistic):           0.000465
Time:                        20:51:39   Log-Likelihood:                -32.474
No. Observations:                  10   AIC:                             68.95
Df Residuals:                       8   BIC:                             69.55
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
X              2.2973      0.404      5.679      0.000       1.365       3.230
ones          -1.6595      6.454     -0.257      0.804     -16.543      13.224
==============================================================================
Omnibus:                        4.424   Durbin-Watson:                   1.925
Prob(Omnibus):                  0.109   Jarque-Bera (JB):                2.101
Skew:                           1.123   Prob(JB):                        0.350
Kurtosis:                       2.984   Cond. No.                         47.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\Lenovo\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:1736: UserWarning: kurtosistest only valid for n>=20 ... continuing anyway, n=10
  warnings.warn("kurtosistest only valid for n>=20 ... continuing "

In [3]:
model.predict()

NameError: name 'model' is not defined

In [38]:
Mean_squared_error(y, pred, squared=false)

NameError: name 'Mean_squared_error' is not defined