In [37]:
import pandas as pd
import statsmodels.api as sm
from sklearn.metrics import mean_squared_error

In [8]:
df = pd.read_excel('пробный.xlsx')

In [21]:
df['ones'] = 1

In [22]:
df

   n   x   y  ones
0  1  13   8     1
1  2   4   5     1
2  3  11   6     1
3  4  20  15     1

In [23]:
y = df['y']
x = df[['x','ones']]

In [24]:
model = sm.OLS(y, x).fit()

In [25]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.848
Model:                            OLS   Adj. R-squared:                  0.772
Method:                 Least Squares   F-statistic:                     11.15
Date:                Sat, 21 Oct 2023   Prob (F-statistic):             0.0792
Time:                        22:00:47   Log-Likelihood:                -7.3582
No. Observations:                   4   AIC:                             18.72
Df Residuals:                       2   BIC:                             17.49
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x              0.6308      0.189      3.339      0.079      -0.182       1.444
ones           0.9308      2.510      0.371      0.746      -9.867      11.728
==============================================================================
Omnibus:                          nan   Durbin-Watson:                   3.220
Prob(Omnibus):                    nan   Jarque-Bera (JB):                0.596
Skew:                          -0.085   Prob(JB):                        0.742
Kurtosis:                       1.117   Cond. No.                         31.1
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\Lenovo\anaconda3\lib\site-packages\statsmodels\stats\stattools.py:74: ValueWarning: omni_normtest is not valid with less than 8 observations; 4 samples were given.
  warn("omni_normtest is not valid with less than 8 observations; %i "

In [35]:
model.predict()

array([ 9.13076923,  3.45384615,  7.86923077, 13.54615385])

In [38]:
Mean_squared_error(y, pred, squared=false)

NameError: name 'Mean_squared_error' is not defined