In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA
import numpy as np

In [2]:
train = pd.read_csv('fish_train.csv')
test = pd.read_csv('fish_reserved.csv')
fish = pd.read_csv('fish.csv')

In [3]:
train.head()

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Roach   150.0     20.4     22.0     24.7   5.8045  3.7544
1   Perch   250.0     25.4     27.5     28.9   7.2828  4.5662
2   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
3   Bream   925.0     36.2     39.5     45.3  18.7542  6.7497
4   Perch   110.0     19.0     21.0     22.5   5.6925  3.5550

In [4]:
test.head()

  Species  Length1  Length2  Length3  Height   Width
0   Roach     19.4     21.0     23.7  6.1146  3.2943
1   Perch     19.3     21.3     22.8  6.3840  3.5340
2   Perch     17.2     19.0     20.2  5.6358  3.0502
3  Parkki     17.5     19.0     21.3  8.3922  2.9181
4  Parkki     16.3     17.7     19.8  7.4052  2.6730

In [5]:
pca = PCA(svd_solver='full', n_components=3)
pca.fit(train[['Length1', 'Length2', 'Length3']])
pca.explained_variance_ratio_

array([9.96276165e-01, 3.61728778e-03, 1.06547638e-04])

In [6]:
#train['Lengths'] = pca.transform(train[['Length1', 'Length2', 'Length3']])[:, 0]
train['Height'] = train['Height'] ** 3
train['Width'] = train['Width'] ** 3
#train['Lengths'] = train['Lengths'] ** 3
train['Length1'] = train['Length1'] ** 3
train['Length2'] = train['Length2'] ** 3
train['Length3'] = train['Length3'] ** 3
#train = pd.get_dummies(train, columns=['Species'], drop_first=True)

In [7]:
#test['Lengths'] = pca.transform(test[['Length1', 'Length2', 'Length3']])[:, 0]
test['Height'] = test['Height'] ** 3
test['Width'] = test['Width'] ** 3
#test['Lengths'] = test['Lengths'] ** 3
test['Length1'] = test['Length1'] ** 3
test['Length2'] = test['Length2'] ** 3
test['Length3'] = test['Length3'] ** 3
#test = pd.get_dummies(test, columns=['Species'], drop_first=True)

In [8]:
model = LinearRegression()
model.fit(train.drop(['Species', 'Weight'], axis = 1), train['Weight'])
pred = model.predict(test.drop(['Species'], axis = 1))

In [9]:
pred

array([ 116.13958959,  121.09100633,   85.05844589,  110.53741817,
         86.26816447,  158.37190267,   60.38379001,  536.00402273,
        395.87203138,  123.78191529, 1827.47451205,  158.49720347,
        627.26572214, 1085.86942862,   35.8288348 ,  606.29580347,
        133.25451084,  807.75274166, 1398.16595075,   85.30337754,
        591.8721016 ,  196.54465434,   81.7781292 ,  156.43159457,
        350.58923309,  590.54188771,  277.05633793,   26.21268469,
         37.39281599,   21.54240282, 1001.17770307,  477.89521046,
        542.29161919,  151.53091357,   26.07114895,   87.52795656,
        122.12694929,  932.88325856,  744.70163842,  130.42604977])